<a href="/"> back </a>

 <p> Start date: {{ items[0].begin_date }} </p>
 <p> Start time: {{ items[0].begin_time }} </p>

<p> Control distances along with open and closed times: </p>
<table>
  <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
  </tr>
   {% for item in items %}
    <tr>
      <!-- Dist (mi) -->
      <td>{{ item.miles }}</td>
      <!-- Dist (km) -->
      <td> {{ item.km }} </td>
      <!-- Location (optional) -->
      <td> {{ item.location}} </td>
      <!-- Open time -->
      <td> {{ item.open_time}} </td>
      <!-- Close time -->
      <td> {{item.close_time}} </td>
      <!-- Notes (error messages for this row) -->
      <td> &nbsp; </td>
    </tr>
    {% endfor %}
  </table>